<block-ui>
  <main>
    <div class="jumbotron">
      <h5>Consultar</h5>
      <form [formGroup]="form">
        <div class="container-fluid body-main">
          <div class="row">
            <div class="col-12">
              <span>CEP</span>
              <input formControlName="zipcode" (keypress)="numberOnly($event)" type="text" maxlength="8" max="8">
              <button class="btn btn-primary btn-buscar" (click)="searchZipcode()">Buscar</button>
            </div>
          </div>
        </div>
      </form>
    </div>
    <div class="card body-search" *ngIf="data">
      <div class="container-fluid">
        <div class="row">
          <div class="col-10">
            <h4>{{data?.logradouro}}</h4>
          </div>
          <div class="col-2 text-right">
            <i class="fa fa-close" (click)="closeWindow()"></i>
          </div>
        </div>
        <div class="row">
          <div class="col-12"><span>{{data?.bairro}}</span></div>
          <div class="col-12"><span>{{data?.localidade + ' - ' + data?.uf}}</span></div>
          <div class="col-12"><span>{{data?.cep}}</span></div>
          <div class="col-12 map" *ngIf="data && data.location">
            <agm-map *ngIf="data && data.location" [latitude]="data.location.lat" [longitude]="data.location.lng" [zoom]="17">
              <agm-marker [latitude]="data.location.lat" [longitude]="data.location.lng"></agm-marker>
            </agm-map>
          </div>
        </div>
      </div>
    </div>
  </main>
</block-ui>
<!-- <router-outlet></router-outlet> -->